.text-style{
    color:rgb(88, 136, 17) !important;
}

#header img{
    width: 80px;
    height: 40px;
    padding-left: 0px;
}
#header p{
    color: whitesmoke;    
    margin-bottom: 0px;
}

#footer {
    background: linear-gradient(85deg, #1c3643, #273b47 25%, #24546e);
}

#footer a {
    color: white;
}

.carousel-caption{
    margin-bottom: 90px;
}

.carousel-caption #green-button{
    background: #27A743;
    color:white;
    border-radius: 5px;
}
.carousel-caption #transparent-button{
    background: transparent;
    color:white;
    border-radius: solid 5px;
    border-color: whitesmoke;
}

.carousel-item{
    background-color: rgba(0,0,0,1);
}

#octubre25 img{
    max-width: 100%;
}
#octubre25{
    background-color: #353A40;
    color: white;
    font-size: 70%;
}
#octubre25 a{
    font-size: 90%;
}

.enviar-verde{
    background: #96C93E;
    color:white;
    border-radius: 5px;
    border-color: #96C93E;
}


#oradores{
    padding-right: 5rem;
    padding-left: 5rem;
}

/* Estilo Tickets */
.total-p{
background-color:#CCE5FF;
padding: 10px 10px;
border-radius: 5px;
}

.container-t{
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    /* box-sizing: content-box; */
    width: 500px;
    /* min-width: 500px; */
    height: 150px;
} 

.azul, .verde, .amarillo{
    text-align:center;
    justify-content: space-between;
    margin: 5px 5px;

    /* height: 200px;
    width: 200px; */
}

.amarillo {
    font-size: 100%;
}

.azul {
    border: blue solid 1px;  
}
.verde{
    border: rgb(1, 110, 16) solid 1px;
}
.amarillo{
    border: rgb(239, 243, 1) solid 1px;
}

.borrar, .resumen{
    border-radius: 5px;
    background: #97C93E;
    color: white;
    padding: 5px 5px;
}
