.text-style{
    color:rgb(88, 136, 17) !important;
}

#header img{
    width: 80px;
    height: 40px;
    padding-left: 0px;
}
#header p{
    color: whitesmoke;    
    margin-bottom: 0px;
}

#footer {
    background: linear-gradient(85deg, #1c3643, #273b47 25%, #24546e);
}

#footer a {
    color: white;
}

.carousel-caption{
    margin-bottom: 90px;
}

.carousel-caption #green-button{
    background: #27A743;
    color:white;
    border-radius: 5px;
}
.carousel-caption #transparent-button{
    background: transparent;
    color:white;
    border-radius: solid 5px;
    border-color: whitesmoke;
}

.carousel-item{
    background-color: rgba(0,0,0,1);
}

#octubre25 img{
    max-width: 100%;
}
#octubre25{
    background-color: #353A40;
    color: white;
    font-size: 70%;
}
#octubre25 a{
    font-size: 90%;
}

.enviar-verde{
    background: #96C93E;
    color:white;
    border-radius: 5px;
    border-color: #96C93E;
}

#oradores{
    padding-right: 5rem;
    padding-left: 5rem;
}

/* Estilo Tickets */
.container-tickets{
    padding-left: 15px;
    padding-right: 15px;
}

.titulo-ticket{
    padding-top: 15px;
}

.total-p{
padding: 10px 10px;
border-radius: 5px;
}
#total{
    background-color:#CCE5FF;
    border-color: transparent;
    border-radius: 5px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.azul, .verde, .amarillo{
    text-align:center;
}

.azul {
    border: #2E92FF solid 2px;  
}
.verde{
    border: #22A6BA solid 2px;
}
.amarillo{
    border: #FBC41F solid 2px;
}

.venta{
    font-size: 80%;
}
.venta-ticket{
    font-size: 150%;
}

.borrar, .resumen{
    border-radius: 5px;
    background: #97C93E;
    color: white;
    padding: 4px;
    margin-top: 10px;
    width: 100%;
    border-color: transparent;
}


